@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Tangerine", cursive;
}

#content {
    /* background-image: url(alex-s-nouZp2P9_EE-unsplash.jpg); */
    background-image: url(yellow-acacia-dealbata.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    position: relative;

}

.header,
.footer,
.main {
    background-color: rgb(255, 248, 210);
}

.header {
    display: flex;
    justify-content: center;
    gap: 60px;
    position: sticky;
    top: 0;
    height: 60px;
    border-bottom: black solid 1px;
    padding-top: 15px;
    box-sizing: border-box;
}

.home-tab,
.menu-tab,
.contact-tab {
    font-size: 2.5rem;
    border: black solid 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    padding: 5px 50px;
}

.home-tab-chosen,
.menu-tab-chosen,
.contact-tab-chosen,
.main {
    background-color: rgb(255, 245, 189);
}

.home-tab:hover,
.menu-tab:hover,
.contact-tab:hover {
    background-color: rgb(253, 238, 149);
}

.main {
    width: 75vw;
    min-width: 750px;
    min-height: 100vh;
    margin: auto;
    padding: 30px;
}

.footer {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    border-top: black solid 1px;
    position: absolute;
    bottom: -61px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-style: italic;
    font-size: 1rem;
    gap: 50px;
}

/* styles for home */

.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 4.5rem;
    font-weight: 400;
    text-align: center;
}

.restaurant {
    width: 690px;
    height: auto;
}

.description,
.time,
.location,
.telephone,
.email {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.7rem;
}

/* styles for menu */

.main-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.item {
    display: grid;
    grid-template-columns: repeat(2, fit-content);
    grid-template-rows: repeat(2, 1fr);
    padding: 0 60px;
}

.item img {
    grid-area: 1/1/3/2;
    width: 500px;
    height: auto;
}

.item h3 {
    grid-area: 1/2/2/3;
    font-size: 3.7rem;
    text-align: center;
    align-self: center;
    font-weight: 400;
}

.item .price {
    grid-area: 2/2/3/3;
    font-size: 3.7rem;
    text-align: center;
    align-self: center;
}

/* styles for contact */

.main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 2fr 2fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.map {
    width: 500px;
    height: auto;
    grid-area: 1/1/6/2;
    border: black 1px solid;
}

.location-contact {
    grid-area: 1/2/2/3;
}

.address-contact {
    grid-area: 2/2/3/3;
    font-size: 2.5rem;
}

.reservation {
    grid-area: 3/2/4/3;
}

.telephone {
    grid-area: 4/2/5/3;
    font-size: 2.5rem;
}

.email {
    grid-area: 5/2/6/3;
    font-size: 2.5rem;
}